legacy-peer-deps=true
strict-peer-dependencies=false
auto-install-peers=true
enable-pre-post-scripts=true
prefer-frozen-lockfile=false
node-linker=hoisted
public-hoist-pattern[]=*prisma*
public-hoist-pattern[]=*@prisma/client*