DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiMzllMTE4YzItODlmOC00YjQ2LTlmM2MtZDMxMGRlMTljNDg5IiwidGVuYW50X2lkIjoiZWM1NzU1MWNhYTNlYTM2MWRkNmRkMDYwMWU0MGI3NmIxOTBlNGEyMmYxZTk4M2IwZmMxNmI0OTNkZTlhZjhmYyIsImludGVybmFsX3NlY3JldCI6IjMxOTQ3Mjg0LTk1ZWMtNDkwMC05ZGY3LTMwODk2YjMwODljOCJ9.Wiw39wsR0vQsxlmb4OBPOwjKWwcvMfqETUs8G-n4dwY"
